.bouton-accueil {
    border-left-width: 20px;
    border-right-width: 20px
}

.text-gauche-accueil {
    background-color: white;
    border-style: solid;
    border-color: #5e95ff;
    border-radius: 20px;
}

.inputDevis:disabled {
    color : white;
    background-color: #983700 ;
    opacity: 0.4;
}

.inputDevis {
    color : white;
    background-color: #983700 ;
    opacity: 0.4;
}

.login_div {
    position: absolute;

    width: 300px;
    height: 300px;

    /* Center form in page horizontally & vertically */
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.login_form {
    width: 300px;
    height: 300px;

    border-radius: 10px;

    margin: 0;
    padding: 0;
}

.toto {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

div.image {
    content:url(../img/logo_e_module.png);
}