<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Accueil</title>
</head>
<body class="container-fluid" style="background-color: #0083f736">
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 style="font-size: 2.5rem;
        color: #0083f7;
        font-weight: bold">E-MODULE</h1>
    <p>Bienvenue sur votre application E-Module</p>
</div>
<div th:insert="navbar.html"></div>
<div class="row" style="margin-top:30px; margin-right: 0px ; margin-left: 0px " >
    <div class="col-md-4 text-gauche-accueil">
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do
            lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p><p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et do
        lore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <main class="col-md-8">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-5 offset-md-1">
                <div style="background-color: #F2803F; border-radius: 30px;" >
                    <br>
                    <h2 style="text-align: center" class="text-white">Gestion des devis</h2>
                    <div class="text-center">
                        <br><br><br>
                        <a class="button btn btn-light btn-lg rounded-pill bouton-accueil"  th:href="@{/creerDevis}">Créer</a>
                            <a class="button btn btn-light btn-lg rounded-pill bouton-accueil"  th:href="@{/listeDevis}">Gérer</a>
                        <br><br><br>
                    </div>
                </div><br>
            </div>
            <div class="col-md-5 ">
                <div style="background-color: #299F7E; border-radius: 30px;" >
                    <br>
                    <h2 style="text-align: center" class="text-white">Gestion des clients</h2>
                    <div class="text-center ">
                        <br><br><br>
                        <a class="button btn btn-light btn-lg rounded-pill bouton-accueil" th:href="@{/creerClient}" >Créer</a>
                        <a class="button btn btn-light btn-lg rounded-pill bouton-accueil" th:href="@{/listeClient}" >Gérer</a>
                        <br><br><br>
                    </div>
                </div><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div style="background-color: #33649E; border-radius: 30px;" >
                    <br>
                    <h2 style="text-align: center" class="text-white">Modélisation</h2>
                    <div class="text-center">
                        <br><br><br>
                        <a class="button btn btn-light btn-lg rounded-pill bouton-accueil">Créer</a>
                        <a class="button btn btn-light btn-lg rounded-pill bouton-accueil">Gérer</a>
                        <br><br><br>
                    </div>
                </div><br>
            </div>
            <div class="col-md-5 ">
                <div style="background-color: #F2AD3F; border-radius: 30px;">
                    <br>
                    <h2 style="text-align: center" class="text-white">Paiement</h2>
                    <div class="text-center">
                        <br><br><br>
                        <a class="button btn btn-light btn-lg rounded-pill bouton-accueil" th:href="@{/listePaiement}">Gérer</a>
                        <br><br><br>
                    </div>
                </div><br>
            </div>
        </div>
    </main>
</div>
</body>

</html>