<!DOCTYPE HTML>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Accueil</title>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 style="font-size: 2.5rem;
        color: #0083f7;
        font-weight: bold">E-MODULE</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div th:insert="navbar.html"></div>

Voici l'accueil, à toi de jouer Stéphane !

<div>
    Exemple :
    <tr th:each ="chantier : ${chantiers}">
        <td th:text="${chantier.nom_chantier}">...</td>
        <td th:text="${chantier.date_chantier}">...</td>
    </tr>
</div>


<a th:href="@{/listeChantier}">Liste des chantiers</a>

</body>

</html>