<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Ajout d'un client</title>
</head>

<body style="background-color: #D5DDE3">
<div th:insert="navbar.html"></div>
<h1 class="text-center"> Ajouter un client </h1>
<div class="container">
<form action="#" th:action="@{creerClient}" th:object="${client}" class="justify-content-center" method="post" onsubmit="alert('you submitted the form');">
    <div class="form-group">
        <label style ="color:#006348" for="nom">Nom</label>
        <input type="text" th:field="*{nom_client}" class="form-control rounded-pill" id="nom" required>
    </div>
    <div class="form-group">
        <label style ="color:#006348" for="prenom">Prénom</label>
        <input type="text" th:field="*{prenom_client}" class="form-control rounded-pill" id="prenom" required>
    </div>
    <div class="form-group">
        <label style ="color:#006348" for="mail">Adresse mail</label>
        <input type="email" th:field="*{mail_client}" class="form-control rounded-pill" id="mail" required>
    </div>
    <div class="form-row">
    <div class="form-group col-md-8">
        <label style ="color:#006348" for="rue">Rue et Numéro</label>
        <input type="text" th:field="*{adresse_client}" class="form-control rounded-pill" id="rue" required>
    </div>
        <div class="form-group col-md-4">
        <label style ="color:#006348" for="cp">Code postal</label>
        <input type="number" th:field="*{cp_client}" class="form-control rounded-pill" id="cp" required>
    </div>
    </div>
    <div class="form-group">
        <label style ="color:#006348" for="ville">Ville</label>
        <input type="text" th:field="*{ville_client}" class="form-control rounded-pill" id="ville" required>
    </div>
    <div class="form-group">
        <label style ="color:#006348" for="tel">Numéro de téléphone</label>
        <input type="number" th:field="*{telephone_client}" class="form-control rounded-pill" id="tel" required>
    </div>
    <div class="">
        <div id="test" class="fa-pull-right"><button type="submit" class="btn btn-success rounded-pill">Créer</button></div>
        <div class="fa-pull-left" ><button type="submit" class="btn btn-warning rounded-pill">Retour</button></div>
    </div>
</form>
</div>
</body>
</html>