<html xmlns:th="www.thymeleaf.org">
<div th:insert="navbar.html"></div>
    <title>Création devis</title>
<h1 class="text-center"> Créer un devis </h1>

<div class="container">
    <form action="/#" method="">
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputNomProjet" class="col-sm-2 col-form-label">Nom du projet </label>
            <div class="col-sm-5">
                <input type="text" class="form-control rounded-pill" id="inputNomProjet" placeholder="ProjetTest">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputRefProjet" class="col-sm-2 col-form-label">Référence du projet </label>
            <div class="col-sm-5">
                <input type="text" class="form-control rounded-pill" id="inputRefProjet" placeholder="Référence du projet">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputCommercial" class="col-sm-2 col-form-label">Commercial </label>
            <div class="col-sm-5">
                <input type="text" class="form-control rounded-pill inputDevis" id="inputCommercial" value="Le nom sera déjà rempli">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputRechercherClient" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <span>Client existant ? Recherchez votre client sinon </span><a th:href="@{/creerClient}" >Créer un client</a>
                <input type="text" class="form-control rounded-pill" id="inputRechercherClient" placeholder="La recherche en ajax">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputNomClient" class="col-sm-2 col-form-label">Nom :</label>
            <div class="col-sm-5">
                <input type="text" class="form-control rounded-pill inputDevis" id="inputNomClient" value="Nom en dur injecté par la recherche">
            </div>

            <!-- Default input -->
            <label for="inputPrenomClient" class="col-sm-1 col-form-label">Prénom </label>
            <div class="col-sm-4">
                <input type="text" class="form-control rounded-pill inputDevis" id="inputPrenomClient" value="Prénom en dur injecté par la recherche">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputAdresseClient" class="col-sm-2 col-form-label">Adresse </label>
            <div class="col-sm-10">
                <input type="text" class="form-control rounded-pill inputDevis" id="inputAdresseClient" value="Adresse en dur injectée par la recherche">
            </div>
        </div>
        <div class="row">
            <div class ="col-md-6">
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputCPClient" class="col-sm-4 col-form-label">Code postal </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control rounded-pill inputDevis" id="inputCPClient" value="CP en dur injecté par la recherche">
                    </div>
                </div>
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputVilleClient" class="col-sm-4 col-form-label">Ville </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control rounded-pill inputDevis" id="inputVilleClient" value="Ville en dur injectée par la recherche">
                    </div>
                </div>
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputTelClient" class="col-sm-4 col-form-label">Téléphone </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control rounded-pill inputDevis" id="inputTelClient" value="Téléphone en dur injectée par la recherche">
                    </div>
                </div>
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputEmailClient" class="col-sm-4 col-form-label">Email </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control rounded-pill inputDevis" id="inputEmailClient" value="Email en dur injectée par la recherche">
                    </div>
                </div>
            </div>
            <button style="border-radius : 50%; margin-bottom : 20px ; background-color: #983700 ;opacity: 0.4; " class ="col-md-4 offset-1 text-center">
                <span style="font-size: 3em">Fiche Client</span>
            </button>
        </div>
    </form>
    <style>
        body {
            background-color: #e6d9d2;
        }
        .table .thead-dark th {
            background-color: #983700;
        }
        .table td {
            background-color: white;
        }
    </style>
    <hr>



    <div th:each ="module : ${modules}">
    <h3 th:utext="'Module : '+${module.nature_module}"></h3>
    <table style ="border: 1px solid black; border-collapse: collapse;" class="table table-hover">
        <thead style="background-color : white" class="thead-dark">
        <tr>
            <th>Famille</th>
            <th>Composant</th>
            <th>Quantité</th>
            <th>P.U</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                <select th:id="'selectFamille' + ${module.id_module}" th:attr="data-module=${module.id_module}"
                        onchange="chargerListeComposant(this);">
                    <option value="">Sélectionnez</option>
                    <option th:each="familleComposant : ${familleComposants}"
                            th:if="${familleComposant.relationModule(module.id_module)}"
                            th:value="${familleComposant.id_famille_composant}"
                            th:text="${familleComposant.nom_famille_composant}"
                            ></option>
                </select>

            </td>
            <td>
                <select th:id="'selectComposant' + ${module.id_module}" th:attr="data-module=${module.id_module}" onchange="majPrixComposant(this);">
                    <option value="">Sélectionnez</option>
                </select>
            </td>
            <td>
                <input type="number" min="1" value="0" th:id="'nombreUnite' + ${module.id_module}" onchange="majPrixTotal(this);"
                       data-prix="0" th:attr="data-module=${module.id_module}">
            </td>
            <td>
                <input type="number" th:id="'prixUnitaire' + ${module.id_module}" min="0" value="0" disabled>
            </td>
            <td>
                <input type="number" th:id="'prixTotal' + ${module.id_module}" min="0" value="0" disabled>
            </td>
        </tr>
        </tbody>
    </table>

    <button style="background-color: #983700" type="submit" data-toggle="modal" data-target="#FormEnvoyer" class="btn rounded-pill text-white fa-pull-right">Enregistrer</button>
    </div>
    <form action="">
        <div class="modal fade" id="FormEnvoyer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Souhaitez-vous valider votre devis ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalNomProjet" class="col-sm-2 col-form-label">Nom du projet </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalNomProjet" value="ProjetTest">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalRefProjet" class="col-sm-2 col-form-label">Référence du projet </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalRefProjet" value="Référence du projet">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalCommercial" class="col-sm-2 col-form-label">Commercial </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalCommercial" value="Le nom sera déjà rempli">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalNomClient" class="col-sm-2 col-form-label">Nom </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalNomClient" value="Nom en dur injecté par la recherche">
                            </div>

                            <!-- Default input -->
                            <label for="inputModalPrenomClient" class="col-sm-2 col-form-label">Prénom </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalPrenomClient" value="Prénom en dur injecté par la recherche">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalAdresseClient" class="col-sm-2 col-form-label">Adresse </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalAdresseClient" value="Adresse en dur injectée par la recherche">
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalCPClient" class="col-sm-2 col-form-label">Code postal </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalCPClient" value="Nom en dur injecté par la recherche">
                            </div>
                            <!-- Default input -->
                            <label for="inputModalVilleClient" class="col-sm-2 col-form-label">Ville </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalVilleClient" value="Prénom en dur injecté par la recherche">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalTelClient" class="col-sm-2 col-form-label">Téléphone </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalTelClient" value="Téléphone en dur injectée par la recherche">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Default input -->
                            <label for="inputModalEmailClient" class="col-sm-2 col-form-label">Email </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control rounded-pill inputDevis" id="inputModalEmailClient" value="Email en dur injectée par la recherche">
                            </div>
                        </div>
                        <style>
                            .table .thead-dark th {
                                background-color: #983700;
                            }
                            .table td {
                                background-color: white;
                            }
                        </style>
                        <hr>
                        <h3>Module : Couverture</h3>
                        <div class="table-responsive">
                        <table style ="border: 1px solid black; border-collapse: collapse;" class="table table-hover ">
                            <thead style="background-color : white" class="thead-dark">
                                <tr>
                                    <th>Famille</th>
                                    <th>Composant</th>
                                    <th>Quantité</th>
                                    <th>Prix Unitaire</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select id="couvertureFamilleModal">
                                        <option value="0">Sélectionnez</option>
                                        <option value="1">Audi</option>
                                        <option value="2">BMW</option>
                                        <option value="3">Citroen</option>
                                        <option value="4">Ford</option>
                                        <option value="5">Honda</option>
                                        <option value="6">Jaguar</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="couvertureComposantModal">
                                        <option value="0">Sélectionnez</option>
                                        <option value="1">Audi</option>
                                        <option value="2">BMW</option>
                                        <option value="3">Citroen</option>
                                        <option value="4">Ford</option>
                                        <option value="5">Honda</option>
                                        <option value="6">Jaguar</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" min="1">
                                </td>
                                <td>
                                    10€
                                </td>
                                <td>
                                    1050 €
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button style="background-color: #983700" type="submit" data-toggle="modal" data-target="#ModalValider" class="btn rounded-pill text-white fa-pull-right">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="application/javascript" th:src="@{/js/src/creationDevis.js}"></script>
</body>
</html>
