<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des clients</title>
</head>
<body style="background-color: #D5DDE3">

<div th:insert="navbar.html"></div>
<style>
    .navbar
    {
        background-color: #299f7e !important;
    }
</style>
    <div class="container">
    <h1 class="text-center mt-4">Liste des clients</h1>
        <hr>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead style="background-color: #006348">
            <tr style="color: white">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr style="background-color: #e7fff7" th:each ="client : ${clients}">
                <td th:utext="${client.nom_client}"></td>
                <td th:utext="${client.prenom_client}"></td>
                <td th:utext="${client.adresse_client}"></td>
                <td th:utext="${client.cp_client}"></td>
                <td th:utext="${client.ville_client}"></td>
                <td th:utext="${client.telephone_client}"></td>
                <td th:utext="${client.mail_client}"></td>
                <td>
                    <div class="row">
                        <div class="col">
                            <a title ="Modifier le client" class="btn mt-2 rounded-pill" style="background-color: #0d8eff; color: white;" th:href="@{'/modifierClient/' + ${client.id_client}}"> <i class="fas fa-edit"></i></a>
                            <button title ="Archiver le client" class="btn mt-2 rounded-pill" style="background-color: #ff3030; color: white;" data-toggle="modal" th:attr="data-target='#modalClient'+${client.id_client}">
                                <i class="fas fa-archive"></i>
                            </button>
                        </div>
                        <div class="col">
                            <button title ="Détails du devis" class="btn mt-2 rounded-pill" style="background-color: #c6977d; color: white;"> <i class="fas fa-info-circle"></i></button>
                            <button title ="Détails du paiement" class="btn mt-2 rounded-pill" style="background-color: #ffa10d; color: white;"> <i class="far fa-file-alt"></i></button>
                        </div>
                    </div>

                    <!-- Modal Archive client -->
                    <div class="modal fade" th:id="'modalClient'+${client.id_client}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <form action="#" th:action="@{'/archiverClient/' + ${client.id_client}}" th:object="${client}" class="justify-content-center" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" th:utext="'Archiver le client n° '+${client.id_client}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" >
                                        <h5 th:utext="'Voulez-vous vraiment archiver '+${client.nom_client}+'?'">  </h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button class="btn rounded-pill" style="background-color: #006348; color: white;">Archiver</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </td>
            </tr>
            </tbody>
            <tfoot style="background-color: #006348">
            <tr class="text-white">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>