<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des paiements</title>
</head>
<body style="background-color: #FFF9CA;">
<div th:insert="navbar.html"></div>
<style>
    .navbar
    {
        background-color: #f2ad3f !important;
    }
</style>
    <div class="container-fluid">
        <h1 class="text-center mt-4">Liste des paiements</h1>
        <hr>
        <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered display" style="width:100%">
            <thead>
            <tr style="background-color: #CABB3F">
                <th colspan="4">Projet / Devis</th>
                <th colspan="4">Client</th>
                <th rowspan="2">Plus d'information</th>

            </tr>
            <tr style="background-color: #FFE300">
                <th>N°</th>
                <th>Référence du projet</th>
                <th>Date du projet</th>
                <th>Etat du devis</th>
                <th>Nom / Prénom</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Numéro</th>
            </tr>
            </thead>
            <tbody>
            <tr style="background-color: white" th:each ="c : ${chantier}">
                <td th:utext="${c.id_chantier}"></td>
                <td th:utext="${c.nom_chantier}"></td>
                <td th:utext="${c.date_chantier}"></td>
                <td th:utext="${c.etat.libelle_etat}"></td>
                <td><div th:each = " client : ${c.clients}" ><span th:utext="'Client : ' + ${client.nom_client} +' '+ ${client.prenom_client}"></span></div></td>
                <td><div th:each = " client : ${c.clients}" ><span th:utext="'Client : ' + ${client.adresse_client}"></span></div></td>
                <td><div th:each = " client : ${c.clients}" ><span th:utext="'Client : ' + ${client.mail_client} +' '+ ${client.prenom_client}"></span></div></td>
                <td><div th:each = " client : ${c.clients}" ><span th:utext="'Client : ' + ${client.telephone_client}"></span></div></td>
                <td>
                    <button title ="Détail du paiement" class="btn mt-2 rounded-pill" style="background-color: #CABB3F; color: white;" data-toggle="modal" th:attr="data-target='#modalPaiement'+${c.id_chantier}">
                    <i class="fas fa-info-circle"></i>
                </button>

                    <!-- Modal Paiement -->
                    <div class="modal fade" th:id="'modalPaiement'+${c.id_chantier}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <!--<form action="#" th:action="@{'/archiverDevis/' + ${chantier.id_chantier}}" th:object="${devis}" class="justify-content-center" method="post">-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" th:utext="${'Référence du projet : ' + c.nom_chantier}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" >
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Etapes</th>
                                                <th scope="col">% de la somme à débloquer</th>
                                                <th scope="col">en euros</th>
                                                <th scope="col">actions</th>
                                            </tr>
                                            </thead>
                                            <tbody >
                                            <tr  th:each ="p : ${paiement}">
                                                <th th:utext="${p.libelle_etape}"></th>
                                                <td th:utext="${p.pourcentage_etape} +' %'"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success rounded-pill mr-auto" data-dismiss="modal">Annuler</button>
                                        <button class="btn btn-danger rounded-pill" >Archiver</button>
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>