<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Modification d'un client</title>
</head>

<body>
<div th:insert="navbar.html"></div>
<h1 class="text-center"> Modifier un devis </h1>
<div class="container">
<form action="#" th:action="@{'/modifierDevis/' + ${devis.id_chantier}}" th:object="${devis}" class="justify-content-center" method="post">
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputNomProjet" class="col-sm-2 col-form-label">Nom du projet </label>
            <div class="col-sm-5">
                <input type="text" th:field="*{nom_chantier}" class="form-control rounded-pill" id="inputNomProjet" placeholder="ProjetTest">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputRefProjet" class="col-sm-2 col-form-label">Référence du projet </label>
            <div class="col-sm-5">
                <input type="text" th:field="*{id_chantier}" class="form-control rounded-pill" id="inputRefProjet" placeholder="Référence du projet">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputCommercial" class="col-sm-2 col-form-label">Commercial </label>
            <div class="col-sm-5">
                <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputCommercial" value="Le nom sera déjà rempli">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputRechercherClient" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <span>Client existant ? Recherchez votre client sinon </span><a href="#">Créer un client</a>
                <input  type="text" class="form-control rounded-pill" id="inputRechercherClient" placeholder="La recherche en ajax">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputNomClient" class="col-sm-2 col-form-label">Nom :</label>
            <div class="col-sm-5">
                <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputNomClient" value="Nom en dur injecté par la recherche">
            </div>

            <!-- Default input -->
            <label for="inputPrenomClient" class="col-sm-1 col-form-label">Prénom </label>
            <div class="col-sm-4">
                <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputPrenomClient" value="Prénom en dur injecté par la recherche">
            </div>
        </div>
        <div class="form-group row">
            <!-- Default input -->
            <label for="inputAdresseClient" class="col-sm-2 col-form-label">Adresse </label>
            <div class="col-sm-10">
                <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputAdresseClient" value="Adresse en dur injectée par la recherche">
            </div>
        </div>
        <div class="row">
            <div class ="col-md-6">
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputCPClient" class="col-sm-4 col-form-label">Code postal </label>
                    <div class="col-sm-8">
                        <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputCPClient" value="CP en dur injecté par la recherche">
                    </div>
                </div>
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputVilleClient" class="col-sm-4 col-form-label">Ville </label>
                    <div class="col-sm-8">
                        <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputVilleClient" value="Ville en dur injectée par la recherche">
                    </div>
                </div>
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputTelClient" class="col-sm-4 col-form-label">Téléphone </label>
                    <div class="col-sm-8">
                        <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputTelClient" value="Téléphone en dur injectée par la recherche">
                    </div>
                </div>
                <div class="form-group row">
                    <!-- Default input -->
                    <label for="inputEmailClient" class="col-sm-4 col-form-label">Email </label>
                    <div class="col-sm-8">
                        <input style ="color : white; background-color: #983700 ; opacity: 0.4" type="text" class="form-control rounded-pill" id="inputEmailClient" value="Email en dur injectée par la recherche">
                    </div>
                </div>
            </div>
            <button style="border-radius : 50%; margin-bottom : 20px ; background-color: #983700 ;opacity: 0.4; " class ="col-md-4 offset-1 text-center">
                <span style="font-size: 3em">Fiche Client</span>
            </button>
        </div>
</form>
</div>
</body>
</html>