<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="header.html :: head">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" />
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand"  th:href="@{/}">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardropClient" data-toggle="dropdown">
                    Client
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/creerClient}">Création Client</a>
                    <a class="dropdown-item" th:href="@{/listeClient}">Gestion Client</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardropDevis" data-toggle="dropdown">
                    Devis
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/creerDevis}">Création devis</a>
                    <a class="dropdown-item" th:href="@{/listeDevis}">Gestion devis</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardropPaiement" data-toggle="dropdown">
                    Paiement
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Création </a>
                    <a class="dropdown-item" th:href="@{/listePaiement}">Gestion </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</body>
