<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Recherche d'un client</title>
</head>

<body>
<div th:insert="navbar.html"></div>

<div class="container">
    <h1 class="text-center"> Rechercher un client </h1>
    <div class="row">
        <form action="#" class="justify-content-center" method="post">
        <div class="col">
            <h2>Afficher tous les clients</h2>
            <label>Filtre</label>
            <select class="form-control">
                <option value="tous"> Tous
                </option>
                <option value="nom"> Par nom
                </option>
                <option value="ville"> Par ville
                </option>
                <option value="cp"> Par code postal
                </option>
            </select>
        </div>
        <div class="col">
            <h2>Rechercher un client</h2>
        </div>
        </form>
    </div>
</div>
</body>
</html>